body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #134E4A;
    padding: 0.1rem 0;
    color: #fff;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-weight: 600;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

nav ul li {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
}

nav ul li:hover {
    background-color: #0F766E;
    border-radius: 8px;
}

#main-logo p {
    font-family: 'Righteous', sans-serif;
    font-size: 1.5rem;
    padding: 0 2rem;
    margin: 0.5rem 1rem;
}

#hero {
    min-height: 20rem;
    background-color: #1E293B;

    padding: 0 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

#hero img {
    padding: 1rem;
    margin: 2rem 1rem;
}

#hero-content {
    padding: 0 1rem;
    margin: 1rem 2rem;
    display: flex;
    width: 50rem;
    flex-direction: column;
    justify-content: center;
}

#hero-content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    letter-spacing: -0.2rem;
    margin: 0;
    color: #F3F4F6;
}

#hero-content p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#hero-links {
    margin-top: 2rem;
}

#hero-links a {
    text-decoration: none;
    color: #fff;
    margin: 0.7rem 0.4rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background-color: #0D9488;
    font-size: 1rem;
    text-align: center;
}

#hero-links a:nth-child(2) {
    background-color: #203B48;
    outline: 0.1rem solid;
}

#main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

#content section {
    background-color: #212325;
    margin: 1rem 1rem;
    padding: 0;
    border-radius: 0.5rem;
    min-height: 300px;
}

aside {
    background-color: #fff;
    margin: 1rem 0;
    padding: 0;
}

#biodata {
    border-radius: 0.5rem;
    background-color: #1E293B;
    margin: 0 1rem;
    color: #CBD5E1;
    text-align: center;
}

#biodata h3 {
    padding: 0.5rem 0;
    margin: 0;
    color: #fff;
}

#biodata ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#biodata li {
    margin: 0;
    padding: 0.5rem 0;
}

#biodata img {
    width: 10rem;
    height: auto;
    border-radius: 50%;
}

.content-header {
    margin: 0;
    padding: 0;
}

.content-header h4,
.content-header h3,
.content-header h5 {
    margin: 0;
    padding: 0.3rem 1rem;
}

.content-header h4 {
    text-transform: uppercase;
    color: #0D9488;
}

.content-header h3 {
    color: #F3F4F6;
}

.content-header h5 {
    font-weight: 300;
    color: #fff;
}


footer {
    text-align: center;
    background-color: #151b24;
    padding: 1rem;
    margin: 0;
    color: #fff;
}

@media (max-width:64rem) {
    nav {
        display: none;
    }

    #hero {
        display: block;
    }

    #hero-content p,
    #hero-content h1 {
        text-align: center;
    }

    #hero img {
        display: none;
    }

    #main-content {

        grid-template-columns: 1fr;

    }
}

@media (min-width:87.5rem) {
    #hero {
        padding: 0.3rem 12rem;
    }
}